:root{
  --main-background-color : #400e5c;
  --main-color : #222;
  --header-size : 4em;
}
*{box-sizing: border-box;}
body{
  margin: 0;
  color: var(--main-color);
  width: 100vw;
}
a{
  color: var(--main-background-color);
}
#root{
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x:hidden;
  background-color: #eaeaea;
}
#logged-header{
  width: 100vw;
  background: var(--main-background-color);
  height: var(--header-size);
  font-size: 1.2em;
  font-weight:500;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  position: relative;
  a{color: #fff;text-decoration: none}
  >img{height: 100%;}
  > div{
    min-width: 40vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    >*{
      padding: .3em 2em;
      transition-duration: .2s;
      border-radius: 1em;
    }
    >*:hover{
      background-color: #fff;
      color:var(--main-background-color);
    }
    > button{
      font-weight: 800;
      border: none;
      background-color: transparent;
      font-size: 1em;
      color: #fff;
      cursor: pointer;
    }
  }
  nav{
    z-index: 11;
    position: absolute;
    top: 100%;
    left: 0;
    display: inline-block;
    background-color: white;
    color: var(--main-background-color);
    transform: translateX(-50%);
    transition-duration: .3s;
    left: 669px;
    overflow: hidden;
    a{
      color:inherit;
      background-color: white;
      display: block;
      padding: .5em 1em;
    }
  }
}
  