:root{
  --main-background-color : #400e5c;
  --main-color : #222;
  --header-size : 4rem;
}
*{box-sizing: border-box;}
body{
  margin: 0;
  color: var(--main-color);
  width: 100%;
}
a{
  color: var(--main-background-color);
}
#root{
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x:hidden;
  background-color: #eaeaea;
  main{
    height: calc(100% - var(--header-size));
  }
}
#logged-header{
  width: 100%;
  background: var(--main-background-color);
  height: var(--header-size);
  font-size: 1.2em;
  font-weight:500;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  position: sticky;
  top:0;
  a{color: #fff;text-decoration: none}
  >img{height: 100%;}
  > div{
    min-width: 40vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    >*{
      padding: .3em 2em;
      transition-duration: .2s;
      border-radius: 1em;
    }
    >*:hover{
      background-color: #fff;
      color:var(--main-background-color);
    }
    > button{
      font-weight: 800;
      border: none;
      background-color: transparent;
      font-size: 1em;
      color: #fff;
      cursor: pointer;
    }
  }
  nav{
    z-index: 11;
    position: absolute;
    top: 100%;
    left: 0;
    display: inline-block;
    background-color: white;
    color: var(--main-background-color);
    transform: translateX(-50%);
    transition-duration: .3s;
    left: 669px;
    overflow: hidden;
    a{
      color:inherit;
      background-color: white;
      display: block;
      padding: .5em 1em;
    }
  }
}
//////////////////////////////////////////////
//next is the section for the "edit profile"//
//////////////////////////////////////////////
#edit-profile-form{
  height: 100%;
  overflow: auto;
  >h2{
    padding-left: 10%;
    font-size: 2.3em;
    margin-top: 2em;
    margin-bottom: 1.4em;
    color: var(--main-background-color);
    background-color: #eaeaea;
    position: sticky;
    top:0;
    z-index: 2;
  }
  > section{
    width: 80%;
    margin-left: 10%;
    background-color: #fff;
    margin-bottom: 3em;
    padding: 2em;
    border-radius: 1em;
    position: relative;
    z-index: 0;
    &.profile-basic{
      display: flex;
      justify-content: space-around;
      div{
        margin-bottom: .5em;
        position: relative;
      }
      .pic-holder{
        width: 20%;
        text-align: center;
        h3{
          margin-top: 0;
          text-align: center;
          width: 100%;
        }
        img{
          width: 80%;
          margin-left: 10%;
          border-radius: 50%;
          display: block ;
        }
        span{
          background-color: var(--main-background-color);
          border-radius: .7em;
          padding: .1em 1.5em;
          width: auto;
          letter-spacing: 1px;
          color: #fff;
          margin-top: .5em;
          display: inline-block;
        }
      }
      .basic-fields{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 70%;
        border-left: 1px solid rgb(206, 206, 206);
        padding-left: 2em;
        font-size: 1.2em;
        .simple-input{
          width: 40%;
          label{
            display: block;
            margin-bottom: .5em;
          }
          input{
            font-size: 1em;
            width: 100%;
            padding: .5em;
            border-radius: .3em;
            border: 1px solid silver;
          }
          &.wide{
            width: 90%;
          }
        }
        .big-banner{
          width: 90%;
        }
        select{
          width: 40%;
          padding: .5em;
          font-size: 1em;
          border-radius: .3em;
          border: 1px solid silver;
          background-color: #fff;
        }
      }
    }
    &.profile-about{
      h3{
        margin-top: 0;
        font-weight:normal;
      }
    }
  }
}