#landing{
	width: 100%;
	background-image: linear-gradient(to right,#280b46,#67098e);
	header{
		width: 100%;
		background-color: transparent;
		color: #fff;
		position: relative;
		padding: 1em 0;
		height: 5em;
		display:flex;
		justify-content:space-around;
		align-items:center;
		img{
			height:100%;
			display: inline-block;
			transform:scale(.85)
		}
		nav{
			position: relative;
			a{
				letter-spacing: 1px;
				color: #eee;
				text-decoration: none;
				margin-left: 1em;
				font-weight: bold;
				font-size: 1.25em;
				&:hover{
					color: #fff;
				}
			}
		}
	}
	#landing-main{
		h1{
			position: relative;
			z-index: 1;
			color:white;
			text-align: center;
			font-weight: 400;
			font-size: 2.6em;
		}
		h4{
			position: relative;
			z-index: 1;
			color: white;
			font-weight: lighter;
			font-size: 1.6em;
			width: 50%;
			text-align: center;
			margin-left: 25%;
		}
		section{
			background-color: #e8e8e8;
			margin-top: 40vh;
			position: relative;
			*{
				position: relative;
				z-index: 1;
			}
			h2{
				text-align: center;
				color: var(--main-background-color);
				margin-bottom: 0;
				padding-top: 1em;
				font-size: 3.2em;
				margin-bottom: 1em;
			}
			.waves{
				position: absolute;
				z-index: 0;
			}
		}
		.main-features{
			display: flex;
			flex-wrap: wrap;
			justify-content:space-around;
			padding-bottom:6em;
			> div{
				margin-top: 2em;
				align-items:center;
				background-color: #fff;
				box-shadow: 1px 1px 14px #aaa;
				width: 34%;
				padding: 1.5em;
				display: flex;
				border-radius: .5em;
				margin-bottom: 0em;
				div{
					position: relative;
					h4{
						text-align: left;
						font-size: 1.4em;
						color:#444;
						font-weight: bold;
						margin: 0;
						width: 100%;
					}
					p{
						margin-top: .5em;
					}
				}
				img{
					max-height: 7em;
				}
			}
		}
	}
	footer{
		background-color: #393939;
		color:#eeeeee;
		display: flex;
		width: 100%;
		justify-content:space-around;
		padding: 1em;
		img{
			width: 14vw;
			height: 6vw;
			display: block;
			transform:scale(1.1);
		}
		>div{
			display: flex;
			div{
				line-height: 1.4em;
				h5{
					font-size: 1em;
					margin: 0;
				}
				padding: 1em;
			}
			a{
				color: #7d7d7d;
				display: block;
				text-decoration: none;
			}
		}
	}
	// forms
	#landing-form-holder{
		color: #fff;
		overflow: hidden;
		position: relative;
		min-height: 33vw;
		>img{
			position: absolute;
			width:100vw;
			left: 0;
			top:100%;
			z-index: 0;
			transform:translateY(-50%);
			opacity:.55;
		}
		h2,>small{
			position: relative;
			z-index: 1;
			text-align: center;
			width: 100%;
			display: block;
		}
		h2{
			font-size: 1.8em;
			margin-bottom: 0;
		}
		small{
			margin-bottom: 1.5em;
		}
		.gray{
			opacity: .7;
			transition-duration:.3s;
			&:hover{
				opacity: 1;
			}
		}
		form{
			position: relative;
			z-index: 1;
			padding: 2em;
			padding-bottom: 0;
			display: flex;
			flex-direction:column;
			align-items:center;
			// justify-content:space-around;
			input{
				width: 20em;
				border: none;
				padding: .7em;
				font-size: 1em;
				margin-bottom: 1em;
				border-radius: .3em;
				&[type="submit"]{
					width: 13.4em;
					border-radius: 2em;
					padding: .3em;
					color: #fff;
					background-color: #690991;
					font-weight: bold;
					font-size: 1.5em;
					margin-bottom: .3em;
				}
				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #ccc;
					letter-spacing: 1px;
					opacity: 1; /* Firefox */
				}
			}
			small.login-text{
				margin-top: 0;
			}
		}
		p{
			text-align: center;
			line-height: 1.6em;
		}
	}
}
.big-logo{
	width: 50%;
	margin-left: 25%;
	margin-top: 10vh;
}