:root{
  --main-background-color : #690991;
  --main-color : #222;
}
*{box-sizing: border-box;}
body{
  margin: 0;
  color: var(--main-color);
  width: 100vw;
}
#root{
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x:hidden;
  background-color: var(--main-background-color);
  background-image: url('/background.png');
  /*
  background-position: center;
  */
}
.hover::hover{
  transform: scale(1.1);
}
.b6{
  width: 50%;
}
.full-fields{
  position: relative;
}
.full-fields .simple-input{
  width: 90%!important
}
form h2{
  padding-left: 2em;
}
@media(max-width: 700px){
  .s12{
    width: 100%;
  }
}
header{
  width: 100vw;
  background: #fff;
  padding: .5em 1em;
  height: 6vh;
}
main{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  background: rgba(255,255,255,.3);
  padding: 1em;
  height: 94vh;
  overflow-y: auto;
}
h1,h2{
  margin-top: 0;
  width: 100%;
}
.little-input{
  width: 25%;
  position: relative;
  display: inline-block;
  margin-bottom: .5em;
  background-color: white;
  border: 4px dashed blue;
}
.simple-input{
  width: 40%;
  position: relative;
  display: inline-block;
  margin-bottom: .5em;
}
.big-input{
  width: 90%;
  position: relative;
  display: inline-block;
  margin-bottom: .5em;
}
form{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.simple-input input,.big-input textarea,.social-input input{
  font-size: 1.2em;
  border: 2px solid silver;
  width: 100%;
  padding: .5em;
}
.simple-input label,.big-input label{
  margin-bottom: .5em;
  cursor: pointer;
  display: inline-block;
}
.social-input input{
  width: 60%;
  margin-right: 1em;
}
.social-input label{
  font-size: 1.2em;
}
.social-input{
  margin-bottom: .5em;
  display: block;
  width: 90%;
}
.send-button{
  display: block;
  margin-bottom: 3em;
  margin-top: 1em;
  font-size: 1.4em;
  cursor: pointer;
}